<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChromeMultipleInstances.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChromeMultipleInstances.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ChromeMultipleInstances.Properties.Settings>
            <setting name="lasturl" serializeAs="String">
                <value />
            </setting>
            <setting name="rowcount" serializeAs="String">
                <value>0</value>
            </setting>
        </ChromeMultipleInstances.Properties.Settings>
        <ChromeMultipleInstances.Settings1>
            <setting name="lasturl" serializeAs="String">
                <value />
            </setting>
            <setting name="rowcount" serializeAs="String">
                <value>0</value>
            </setting>
        </ChromeMultipleInstances.Settings1>
    </userSettings>
</configuration>